<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{title}}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="dratler">
</head>

<body>
 <div style="background-color:#A09ABC;width: 100%">  
     <h1>User data</h1> 
    <div style="display:block;">
        <h2><span style="display:inline-block;color: #256474">Account name:<span> <span style="display:inset-block;color: #256474">{{fakeUser}}</span></h2>
    </div>

    <div style="background-color:#A09ABC;display:block">
        <div style="display:block;color: #E1DEE9">
            <div style="display:inline-block">Blance</div>:<div style="display:inline-block;">25.78 Dollar</div>
        </div>
        <div style="display:block;color:#E1DEE9">
            <div style="display:inline-block;">Acccount Number (Ids)</div>:<div style="display:inline-block;">59472625</div>
        </div>
    </div>


    <div style="background-color:#A09ABC;display:block">
        <h3>Transactions </h3>
        <div style="display:block;">

            <div style="display:block;color: #D5CFE1">
                <div style="display:inline-block">Id</div>:<div style="display:inline-block;">123</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Date</div>:<div style="display:inline-block;">12-Nov-2019</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Balance</div>:<div style="display:inline-block;">30 Dollar</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Description</div>:<div style="display:inline-block;">Fake</div>
            </div>
        </div>
        <br/>
        <div style="display:block;">

            <div style="display:block;color: #D5CFE1">
                <div style="display:inline-block">Id</div>:<div style="display:inline-block;">234</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Date</div>:<div style="display:inline-block;">11-Oct-2019</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Balance</div>:<div style="display:inline-block;">-5 Dollar</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Description</div>:<div style="display:inline-block;">Fake</div>
            </div>
        </div>

        <br/>
        <div style="display:block;">

            <div style="display:block;color: #D5CFE1">
                <div style="display:inline-block">Id</div>:<div style="display:inline-block;">656</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Date</div>:<div style="display:inline-block;">21-Oct-2019</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Balance</div>:<div style="display:inline-block;">100 Peso</div>
            </div>
            <div style="display:block;color:#D5CFE1">
                <div style="display:inline-block;">Description</div>:<div style="display:inline-block;">This is not real deat</div>
            </div>
        </div>
         <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
    </div>
</div>
</body>
</html>
© 2019 GitHub, Inc.